<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Radio Silence...</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <% class_list = controller.controller_name == "games"? "nav-link active" : "nav-link" %>
        <%= link_to 'Games', games_path, class: class_list %>
      </li>
    </ul>
    <div class="my-2 my-lg-0">
      <% if player_signed_in? %>
        <%= current_player.email %>
        <%= link_to 'Sign out', destroy_player_session_path, method: :delete, class: "btn btn-outline-secondary" %>
      <% else %>
        <%= link_to 'Sign in', new_player_session_path, class: "btn btn-outline-secondary" %>
      <% end %>
    </div>
  </div>
</nav>
<p id="notice"><%= notice %></p>



